<div class="card text-bg-secondary mb-3">
    <div class="card-header">Usuarios</div>
    <div class="card-body">
      <h5 class="card-title">Lista usuarios registrados</h5>
      
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/cliente/form']" routerLinkActive="router-link-active" >Registrar cliente</button>
      </div>

      <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Identificacion</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{cliente.id}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellidoPaterno}}</td>
                <td>{{cliente.apellidoMaterno}}</td>
                <td>{{cliente.identificacion}}</td>
                <td>
                  <button type="button" name="button" [routerLink]="['/cliente/form',cliente.id]" class="btn btn-primary">Editar</button>
                </td>
            </tr>     
        </tbody>
      </table>
    </div>
  </div>